
body {
    padding-top: 5rem;
    background-color:#EDF0F5;
}

body{
    background-image: url(../img/background_K.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
}

#login{
    background-color: #F3F3F3;
    width: 400px;
    padding:20px;
    margin-right: auto;
    margin-left: auto;

}

body{
    font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif;
}

#logo{
    width: 200px;
    margin-top: auto;
}

input[type="email"], input[type="password"], input[type="text"]{
    width: 100%;
    font-size: 1.1em;
    padding: 10px 11px;
    border-radius: 3px;
    border-style: solid;
    border-width: 1px;
    border-color: #c2c2c2;
    margin-bottom: 2px;
    margin-bottom: 10px;
    box-sizing: border-box;
}

button{
    background-color: #E50914;
    color: #fff;
    width: 100%;
    padding: 11px;
    border: transparent;
    margin: 10px 0 10px 0;
    font-size: 1em;
}
